h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
    
  
  }
  
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;

   
   }